<!-- <div> {{appState$ | async | json}} </div> -->
<div class="container-xl">
  <div class="table">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row d-flex align-items-center">
          <div class="col-sm-5">
            <h1>Manage Servers</h1>
          </div>

          <div class="col-sm-7 d-flex justify-content-evenly">
            <button type="button" class="btn btn-primary "> Print Report</button>
            <a href="#addEmployee" class="btn btn-success" data-toggle="model">
              <i class="bi bi-plus-circle"></i>
              New Server
            </a>
            <select name="status" class="btn btn-info">
              <option value="ALL">ALL</option>
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>